button,button1,button2,button3,button4,button5{
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff ;
    border: none;
    color: #000000;
    font-size: 15px;
    padding: 10px;
    width: 80px;
    height:20px; 
    text-align: left;
    cursor: pointer;
}

.checked{
    color:#8EE5EE;
    cursor:pointer;
}
li{
    list-style:none;
    float:left;
}
