<div>
    <!-- 07/06 10:44 add by 黄涣升-->

    <!-- 整体框架设计 （关于-帮助）板块，页脚-->
    <dl style="float: left;width: 186px;">
        <dt >关于</dt>
        <dd><a href="/RecruitApp/inside/aboutusabout/" target="_blank">智联招聘</a></dd>
        <dd><a href="/RecruitApp/inside/jobsZhaoPin/" target="_blank">人才招聘</a></dd>
        <dd><a href="/RecruitApp/inside/aboutuscontact/" target="_blank">联系方式</a></dd>
        <dd><a href="/RecruitApp/inside/sitemap/" target="_blank">网站地图</a></dd>
    </dl>
    <dl style="float: left;width: 186px;">
        <dt>帮助</dt>
        <dd><a href="/RecruitApp/inside/joinus/" target="_blank">加入我们</a></dd>
        <dd><a href="/RecruitApp/inside/customerService/" target="_blank">客户服务</a></dd>
        <dd><a href="/RecruitApp/inside/law.html/" target="_blank">法律声明</a></dd>
        <dd><a href="/RecruitApp/inside/secrecy.html/" target="_blank">隐私政策</a></dd>
        <dd><a href="/RecruitApp/inside/invoiceSystem/" target="_blank">发票制度</a></dd>
    </dl>
    
    <!-- end -->
</div>