 <!-- 索引代码块， 泰锟， 璇， 骅-->
 
 <div>
    <div style="width: 100%; height: 178px;"></div>
    {% load static %}
    <!-- 泰锟, 魏和婉 07/06 分类导航-->
    <div >
        <ol >
            <li >
                <div class="IT"  onmouseover="ProfessionShow(this.className)"  onmouseout="ProfessionHide(this.className)" >互联网IT
                    <div></div>
                </div>
                <div style="top:-10px;" class="IT" id='IT' onmouseover="ProfessionShow(this.className)"  onmouseout="ProfessionHide(this.className)"  style="display:none">
                    <div >
                        <div >互联网IT</div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="java" >Java开发</button>
                            <button onclick="ProfessionJump(this.name)" name="ui" >UI设计师</button>
                            <button onclick="ProfessionJump(this.name)" name="webqd" >Web前端
                            <button onclick="ProfessionJump(this.name)" name="php" >PHP
                            <button onclick="ProfessionJump(this.name)" name="python" >Python
                            <button onclick="ProfessionJump(this.name)" name="android" >Android
                            <button onclick="ProfessionJump(this.name)" name="mg" >美工
                            <button onclick="ProfessionJump(this.name)" name="sdxx" >深度学习
                            <button onclick="ProfessionJump(this.name)" name="sfgcs" >算法工程师
                            <button onclick="ProfessionJump(this.name)" name="hadoop" >Hadoop
                            <button onclick="ProfessionJump(this.name)" name="nodejs" >Node.js
                            <button onclick="ProfessionJump(this.name)" name="sjkf" >数据开发
                            <button onclick="ProfessionJump(this.name)" name="sjfxs" >数据分析师
                            <button onclick="ProfessionJump(this.name)" name="sjjg" >数据架构
                            <button onclick="ProfessionJump(this.name)" name="rgzn" >人工智能
                            <button onclick="ProfessionJump(this.name)" name="qkl" >区块链
                        </div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="dqgcs" >电气工程师
                            <button onclick="ProfessionJump(this.name)" name="dzgcs" >电子工程师
                            <button onclick="ProfessionJump(this.name)" name="plc" >PLC
                            <button onclick="ProfessionJump(this.name)" name="csgcs" >测试工程师
                            <button onclick="ProfessionJump(this.name)" name="sbgcs" >设备工程师
                            <button onclick="ProfessionJump(this.name)" name="yjgcs" >硬件工程师
                            <button onclick="ProfessionJump(this.name)" name="jggcs" >结构工程师
                            <button onclick="ProfessionJump(this.name)" name="gygcs" >工艺工程师
                        </div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="cpjl" >产品经理
                            <button onclick="ProfessionJump(this.name)" name="xmtyy" >新媒体运营
                            <button onclick="ProfessionJump(this.name)" name="yyzy" >运营专员
                            <button onclick="ProfessionJump(this.name)" name="tbyy" >淘宝运营
                            <button onclick="ProfessionJump(this.name)" name="tmyy" >天猫运营
                            <button onclick="ProfessionJump(this.name)" name="cpzl" >产品助理
                            <button onclick="ProfessionJump(this.name)" name="cpyy" >产品运营
                            <button onclick="ProfessionJump(this.name)" name="tbkf" >淘宝客服
                            <button onclick="ProfessionJump(this.name)" name="yxyy" >游戏运营
                            <button onclick="ProfessionJump(this.name)" name="bj" >编辑
                        </div>
                    </div>
                </div>
            </li>
            <li >
                <div class="MBA" onmouseover="ProfessionShow(this.className)"  onmouseout="ProfessionHide(this.className)" >金融</div>
                <div style="top:-10px;" id='MBA' class ="MBA" onmouseover="ProfessionShow(this.className)"  onmouseout="ProfessionHide(this.className)"  style="display:none">
                    <div >
                        <div>金融</div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="tzjl" >投资经理
                            <button onclick="ProfessionJump(this.name)" name="fk" >风控
                            <button onclick="ProfessionJump(this.name)" name="cs" >催收
                            <button onclick="ProfessionJump(this.name)" name="yhgy" >银行柜员
                            <button onclick="ProfessionJump(this.name)" name="yhxs" >银行销售
                            <button onclick="ProfessionJump(this.name)" name="xs" >信审
                            <button onclick="ProfessionJump(this.name)" name="xyk" >信用卡
                            <button onclick="ProfessionJump(this.name)" name="dk" >贷款
                            <button onclick="ProfessionJump(this.name)" name="jrcp" >金融产品
                            <button onclick="ProfessionJump(this.name)" name="qcjr" >汽车金融
                            <button onclick="ProfessionJump(this.name)" name="jryj" >金融研究
                        </div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="zq" >证券
                            <button onclick="ProfessionJump(this.name)" name="jyy" >交易员
                            <button onclick="ProfessionJump(this.name)" name="tzjl" >投资经理
                            <button onclick="ProfessionJump(this.name)" name="qh" >期货
                            <button onclick="ProfessionJump(this.name)" name="cps" >操盘手
                            <button onclick="ProfessionJump(this.name)" name="jj" >基金
                            <button onclick="ProfessionJump(this.name)" name="gp" >股票
                            <button onclick="ProfessionJump(this.name)" name="tzgw" >投资顾问
                            <button onclick="ProfessionJump(this.name)" name="xt" >信托
                            <button onclick="ProfessionJump(this.name)" name="dd" >典当
                            <button onclick="ProfessionJump(this.name)" name="db" >担保
                            <button onclick="ProfessionJump(this.name)" name="xd" >信贷
                            <button onclick="ProfessionJump(this.name)" name="qz" >权证
                        </div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="ccbx" >财产保险
                            <button onclick="ProfessionJump(this.name)" name="bxnq" >保险内勤
                            <button onclick="ProfessionJump(this.name)" name="lp" >理赔
                            <button onclick="ProfessionJump(this.name)" name="jss" >精算师
                            <button onclick="ProfessionJump(this.name)" name="bxxs" >保险销售
                            <button onclick="ProfessionJump(this.name)" name="lcgw" >理财顾问
                            <button onclick="ProfessionJump(this.name)" name="ckds" >查勘定损
                            <button onclick="ProfessionJump(this.name)" name="cx" >车险
                        </div>
                    </div>
                </div>
            </li>
            <li >
                <div class="FDC" onmouseover="ProfessionShow(this.className)"  onmouseout="ProfessionHide(this.className)" >房地产/建筑</div>
                <div style="top:-10px;" id='FDC' class ="FDC" onmouseover="ProfessionShow(this.className)"  onmouseout="ProfessionHide(this.className)"  style="display:none">
                    <div >
                        <div>房地产/建筑</div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="tjgcs" >土建工程师
                            <button onclick="ProfessionJump(this.name)" name="sgy" >施工员
                            <button onclick="ProfessionJump(this.name)" name="zly" >资料员
                            <button onclick="ProfessionJump(this.name)" name="yss" >预算员
                            <button onclick="ProfessionJump(this.name)" name="zjy" >造价员
                            <button onclick="ProfessionJump(this.name)" name="yjjzs" >一级建造师
                            <button onclick="ProfessionJump(this.name)" name="snsjs" >室内设计师
                            <button onclick="ProfessionJump(this.name)" name="tj" >土建
                            <button onclick="ProfessionJump(this.name)" name="nt" >暖通
                            <button onclick="ProfessionJump(this.name)" name="xmjl" >项目经理
                            <button onclick="ProfessionJump(this.name)" name="dqgcs" >电气工程师
                            <button onclick="ProfessionJump(this.name)" name="jzsj" >建筑设计
                        </div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="zygw" >置业顾问
                            <button onclick="ProfessionJump(this.name)" name="fdcxs" >房地产销售
                            <button onclick="ProfessionJump(this.name)" name="fdczs" >房地产招商
                            <button onclick="ProfessionJump(this.name)" name="kfbj" >开发报建
                            <button onclick="ProfessionJump(this.name)" name="fdcch" >房地产策划
                            <button onclick="ProfessionJump(this.name)" name="fdckf" >房地产开发
                            <button onclick="ProfessionJump(this.name)" name="fdcpg" >房地产评估
                            <button onclick="ProfessionJump(this.name)" name="dcjj" >地产经纪
                        </div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="wy" >物业
                            <button onclick="ProfessionJump(this.name)" name="wyjl" >物业经理
                            <button onclick="ProfessionJump(this.name)" name="ba" >保安
                            <button onclick="ProfessionJump(this.name)" name="kf" >客服
                            <button onclick="ProfessionJump(this.name)" name="wygl" >物业管理
                            <button onclick="ProfessionJump(this.name)" name="wykf" >物业客服
                            <button onclick="ProfessionJump(this.name)" name="dg" >电工
                            <button onclick="ProfessionJump(this.name)" name="wyzg" >物业主管
                            <button onclick="ProfessionJump(this.name)" name="wywx" >物业维修
                            <button onclick="ProfessionJump(this.name)" name="xf" >消防
                            <button onclick="ProfessionJump(this.name)" name="kfzg" >客服主管
                            <button onclick="ProfessionJump(this.name)" name="qt" >前台
                            <button onclick="ProfessionJump(this.name)" name="wy1" >文员
                            <button onclick="ProfessionJump(this.name)" name="wyxmjl" >物业项目经理
                        </div>
                    </div>
                </div>
            </li>
            <li >
                <div class="MY" onmouseover="ProfessionShow(this.className)"  onmouseout="ProfessionHide(this.className)" >贸易/零售/物流</div>
                <div style="top:-10px;" id='MY' class ="MY" onmouseover="ProfessionShow(this.className)"  onmouseout="ProfessionHide(this.className)"  style="display:none">
                    <div >
                        <div>贸易/零售/物流</div>
                        <div >
                                <button onclick="ProfessionJump(this.name)" name="cg" >采购</botton>
                                <button onclick="ProfessionJump(this.name)" name="wm" >外贸
                                <button onclick="ProfessionJump(this.name)" name="wmywy" >外贸业务员
                                <button onclick="ProfessionJump(this.name)" name="wmgd" >外贸跟单
                                <button onclick="ProfessionJump(this.name)" name="cgzl" >采购助理
                                <button onclick="ProfessionJump(this.name)" name="wmry" >外贸日语
                                <button onclick="ProfessionJump(this.name)" name="cgzy" >采购专员
                                <button onclick="ProfessionJump(this.name)" name="wmyy" >外贸英语
                                <button onclick="ProfessionJump(this.name)" name="wmzl" >外贸助理
                                <button onclick="ProfessionJump(this.name)" name="cgjl" >采购经理
                                <button onclick="ProfessionJump(this.name)" name="ms" >买手
                        </div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="dg" >导购
                            <button onclick="ProfessionJump(this.name)" name="yyy" >营业员
                            <button onclick="ProfessionJump(this.name)" name="dz" >店长
                            <button onclick="ProfessionJump(this.name)" name="syy" >收银员
                            <button onclick="ProfessionJump(this.name)" name="xs" >销售
                            <button onclick="ProfessionJump(this.name)" name="dgy" >导购员
                            <button onclick="ProfessionJump(this.name)" name="dd" >督导
                            <button onclick="ProfessionJump(this.name)" name="kf" >客服
                            <button onclick="ProfessionJump(this.name)" name="xlskf" >新零售产品
                            <button onclick="ProfessionJump(this.name)" name="ldy" >理货员
                        </div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="gyl" >供应链
                            <button onclick="ProfessionJump(this.name)" name="wlzy" >物流专员
                            <button onclick="ProfessionJump(this.name)" name="wljl" >物流经理
                            <button onclick="ProfessionJump(this.name)" name="wlyy" >物流运营
                            <button onclick="ProfessionJump(this.name)" name="wlgd" >物流跟单
                            <button onclick="ProfessionJump(this.name)" name="wlgl" >物流管理
                            <button onclick="ProfessionJump(this.name)" name="wcdd" >物仓调度
                            <button onclick="ProfessionJump(this.name)" name="hydl" >货运代理
                            <button onclick="ProfessionJump(this.name)" name="bjbg" >报检报关
                            <button onclick="ProfessionJump(this.name)" name="ccgl" >仓储管理
                        </div>
                    </div>
                </div>
            </li>
            <li >
                <div class="GG" onmouseover="ProfessionShow(this.className)"  onmouseout="ProfessionHide(this.className)">教育/传媒/广告</div>
                <div style="top:-10px;" id='GG' class ="GG" onmouseover="ProfessionShow(this.className)"  onmouseout="ProfessionHide(this.className)"  style="display:none">
                    <div >
                        <div>教育/传媒/广告</div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="js" >教师
                            <button onclick="ProfessionJump(this.name)" name="yyls" >英语老师
                            <button onclick="ProfessionJump(this.name)" name="kcgw" >课程顾问
                            <button onclick="ProfessionJump(this.name)" name="yy" >英语
                            <button onclick="ProfessionJump(this.name)" name="jw" >教务
                            <button onclick="ProfessionJump(this.name)" name="msls" >美术老师
                            <button onclick="ProfessionJump(this.name)" name="yj" >幼教
                            <button onclick="ProfessionJump(this.name)" name="xxjs" >小学教师
                            <button onclick="ProfessionJump(this.name)" name="bzr" >班主任
                            <button onclick="ProfessionJump(this.name)" name="zj" >助教
                        </div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="bd" >编导
                            <button onclick="ProfessionJump(this.name)" name="sys" >摄影师
                            <button onclick="ProfessionJump(this.name)" name="bj" >编剧
                            <button onclick="ProfessionJump(this.name)" name="sy" >摄影
                            <button onclick="ProfessionJump(this.name)" name="hqzz" >后期制作
                            <button onclick="ProfessionJump(this.name)" name="zp" >制片
                            <button onclick="ProfessionJump(this.name)" name="jz" >记者
                            <button onclick="ProfessionJump(this.name)" name="jj" >剪辑
                            <button onclick="ProfessionJump(this.name)" name="hzs" >化妆师
                        </div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="ggcy" >广告创意
                            <button onclick="ProfessionJump(this.name)" name="mszd" >美术指导
                            <button onclick="ProfessionJump(this.name)" name="chjl" >策划经理
                            <button onclick="ProfessionJump(this.name)" name="wa" >文案
                            <button onclick="ProfessionJump(this.name)" name="ggzz" >广告制作
                            <button onclick="ProfessionJump(this.name)" name="mj" >媒介
                            <button onclick="ProfessionJump(this.name)" name="ggsh" >广告审核
                            <button onclick="ProfessionJump(this.name)" name="pmsj" >平面设计
                            <button onclick="ProfessionJump(this.name)" name="wysj" >网页设计
                            <button onclick="ProfessionJump(this.name)" name="chs" >插画师
                            <button onclick="ProfessionJump(this.name)" name="gysj" >工业设计
                            <button onclick="ProfessionJump(this.name)" name="sjsj" >视觉设计
                        </div>
                    </div>
                </div>
            </li>
            <li >
                <div class="FWY" onmouseover="ProfessionShow(this.className)"  onmouseout="ProfessionHide(this.className)">服务业</div>
                <div style="top:-10px;" id='FWY' class ="FWY" onmouseover="ProfessionShow(this.className)"  onmouseout="ProfessionHide(this.className)"  style="display:none">
                    <div >
                        <div>服务业</div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="mrs" >美容师
                            <button onclick="ProfessionJump(this.name)" name="mrxt" >美容学徒
                            <button onclick="ProfessionJump(this.name)" name="mrds" >美容导师
                            <button onclick="ProfessionJump(this.name)" name="wxs" >纹绣师
                            <button onclick="ProfessionJump(this.name)" name="ym" >医美
                            <button onclick="ProfessionJump(this.name)" name="mjs" >美甲师
                            <button onclick="ProfessionJump(this.name)" name="jsjl" >健身教练
                        </div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="dy" >导游
                            <button onclick="ProfessionJump(this.name)" name="lygw" >旅游顾问
                            <button onclick="ProfessionJump(this.name)" name="lyjd" >旅游计调
                            <button onclick="ProfessionJump(this.name)" name="qz" >签证
                            <button onclick="ProfessionJump(this.name)" name="lyxs" >旅游销售
                            <button onclick="ProfessionJump(this.name)" name="pw" >票务
                            <button onclick="ProfessionJump(this.name)" name="fwy" >服务员
                            <button onclick="ProfessionJump(this.name)" name="syy1" >收银员
                            <button onclick="ProfessionJump(this.name)" name="dz" >店长
                            <button onclick="ProfessionJump(this.name)" name="jdqt" >酒店前台
                            <button onclick="ProfessionJump(this.name)" name="jdgl" >酒店管理
                            <button onclick="ProfessionJump(this.name)" name="cygl" >餐饮管理
                            <button onclick="ProfessionJump(this.name)" name="sy1" >收银
                        </div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="ba1" >保安
                            <button onclick="ProfessionJump(this.name)" name="bj" >保洁
                            <button onclick="ProfessionJump(this.name)" name="ys" >月嫂
                            <button onclick="ProfessionJump(this.name)" name="bm" >保姆
                            <button onclick="ProfessionJump(this.name)" name="jz" >家政
                            <button onclick="ProfessionJump(this.name)" name="hlch" >婚礼策划
                            <button onclick="ProfessionJump(this.name)" name="yys" >育婴师
                            <button onclick="ProfessionJump(this.name)" name="crs" >催乳师
                            <button onclick="ProfessionJump(this.name)" name="sj" >司机
                        </div>
                    </div>
                </div>
            </li>
            <li >
                <div class="SC" onmouseover="ProfessionShow(this.className)"  onmouseout="ProfessionHide(this.className)" >市场/销售</div>
                <div style="top:-10px;" id='SC' class ="SC" onmouseover="ProfessionShow(this.className)"  onmouseout="ProfessionHide(this.className)"  style="display:none">
                    <div >
                        <div>市场/销售</div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="scyx" >市场营销
                            <button onclick="ProfessionJump(this.name)" name="scch" >市场策划
                            <button onclick="ProfessionJump(this.name)" name="scgw" >市场顾问
                            <button onclick="ProfessionJump(this.name)" name="sczj" >市场总监
                            <button onclick="ProfessionJump(this.name)" name="sctg" >市场推广
                            <button onclick="ProfessionJump(this.name)" name="seo" >SEO
                            <button onclick="ProfessionJump(this.name)" name="ppjl" >品牌经理
                            <button onclick="ProfessionJump(this.name)" name="sem" >SEM
                            <button onclick="ProfessionJump(this.name)" name="swqd" >商务渠道
                            <button onclick="ProfessionJump(this.name)" name="wlyx" >网络营销
                            <button onclick="ProfessionJump(this.name)" name="hdch" >活动策划
                            <button onclick="ProfessionJump(this.name)" name="apptg" > APP推广
                        </div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="xszy" >销售专员
                            <button onclick="ProfessionJump(this.name)" name="xsjl" >销售经理
                            <button onclick="ProfessionJump(this.name)" name="khdb" >客户代表
                            <button onclick="ProfessionJump(this.name)" name="xsdb" >销售代表
                            <button onclick="ProfessionJump(this.name)" name="bdjl" >BD经理
                            <button onclick="ProfessionJump(this.name)" name="dkhxs" >大客户销售
                            <button onclick="ProfessionJump(this.name)" name="qdxs" >渠道销售
                            <button onclick="ProfessionJump(this.name)" name="xszl" >销售助理
                            <button onclick="ProfessionJump(this.name)" name="dhxs" >电话销售
                            <button onclick="ProfessionJump(this.name)" name="xsgw" >销售顾问
                            <button onclick="ProfessionJump(this.name)" name="spjl" >商品经理
                            <button onclick="ProfessionJump(this.name)" name="ggxs" >广告销售
                            <button onclick="ProfessionJump(this.name)" name="wlyx1" >网络营销
                            <button onclick="ProfessionJump(this.name)" name="yxzg" >营销主管
                            <button onclick="ProfessionJump(this.name)" name="xszj" >销售总监
                            <button onclick="ProfessionJump(this.name)" name="swzj" >商务总监
                            <button onclick="ProfessionJump(this.name)" name="csjl" >城市经理
                        </div>
                    </div>
                </div>
            </li>
            <li >
                <div class="RS" onmouseover="ProfessionShow(this.className)"  onmouseout="ProfessionHide(this.className)" >人事/财务/行政</div>
                <div style="top:-10px;" id='RS' class ="RS" onmouseover="ProfessionShow(this.className)"  onmouseout="ProfessionHide(this.className)"  style="display:none">
                    <div >
                        <div>人事/财务/行政</div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="rlzy" >人力资源主管
                            <button onclick="ProfessionJump(this.name)" name="zp" >招聘
                            <button onclick="ProfessionJump(this.name)" name="hrbp" >HRBP
                            <button onclick="ProfessionJump(this.name)" name="rlzy" >人力资源专员
                            <button onclick="ProfessionJump(this.name)" name="px" >培训
                            <button onclick="ProfessionJump(this.name)" name="xzfl" >薪资福利
                            <button onclick="ProfessionJump(this.name)" name="jxkh" >绩效考核
                            <button onclick="ProfessionJump(this.name)" name="rlzyjl" >人力资源经理
                            <button onclick="ProfessionJump(this.name)" name="rlzyzj" >人力资源总监
                            <button onclick="ProfessionJump(this.name)" name="yggx" >员工关系
                            <button onclick="ProfessionJump(this.name)" name="zzfz" >组织发展
                        </div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="kj" >会计
                            <button onclick="ProfessionJump(this.name)" name="cn" >出纳
                            <button onclick="ProfessionJump(this.name)" name="cwgw" >财务顾问
                            <button onclick="ProfessionJump(this.name)" name="js" >结算
                            <button onclick="ProfessionJump(this.name)" name="sw" >税务
                            <button onclick="ProfessionJump(this.name)" name="fk" >风控
                            <button onclick="ProfessionJump(this.name)" name="cwjs" >财务经理
                            <button onclick="ProfessionJump(this.name)" name="cwzg" >财务主管
                            <button onclick="ProfessionJump(this.name)" name="cwfx" >财务分析
                            <button onclick="ProfessionJump(this.name)" name="fwzy" >法务专员
                            <button onclick="ProfessionJump(this.name)" name="ls" >律师
                            <button onclick="ProfessionJump(this.name)" name="flgw" >法律顾问
                            <button onclick="ProfessionJump(this.name)" name="fwzg" >法务主管
                        </div>
                        <div >
                            <button onclick="ProfessionJump(this.name)" name="xzzy" >行政专员
                            <button onclick="ProfessionJump(this.name)" name="qt" >前台
                            <button onclick="ProfessionJump(this.name)" name="xzzg" >行政主管
                            <button onclick="ProfessionJump(this.name)" name="jlzl" >经理助理
                            <button onclick="ProfessionJump(this.name)" name="hq" >后勤
                            <button onclick="ProfessionJump(this.name)" name="sj" >司机
                            <button onclick="ProfessionJump(this.name)" name="xzjl" >行政经理
                            <button onclick="ProfessionJump(this.name)" name="xzzj" >行政总监
                        </div>
                    </div>
                </div>
            </li>

        </ol>
   
        <!--分类导航 end-->

    <!--璇, 07/06 个人中心-->
    <div class="a1">
        <div class="b1">
            <div class="b1c1">
                <a href="/RecruitApp/per/resume/"><img class="touxiang" src="{% static 'index/images/head.jpg' %}"></a>
            </div>
            <div class="b1c2">
                <div class="b1c2d1">
                    <span class="ziti1">Hi, &nbsp;&nbsp;赵月峰</span>
                </div>
                <div class="b1c2d2">
                    <span class="ziti2">欢迎回来，上午好！</span>
                </div>
            </div>
        </div>
        
        <div class="b2">
            <div class="b2c1">
                <font size="+3" color="#3938D0">0</font>
                <a class="aa" href="/RecruitApp/per/schedule/?status=viewed"><span>家</span><br><span class="ziti3">企业看过</span></a>
            </div>
            <div class="b2c2" c1ass="b2c2">
                <font size="+3" color="#3938D0">0</font>
                <a class="aa" href="/RecruitApp/per/schedule/"><span>条</span><br><span class="ziti3">企业反馈</span></a>
            </div>
        </div>
        
        <div class="b3"> 
                <!-- 图标按钮-->
                <!-- 我的简历 -->
            <div id="contr">
                <div class="pic" id="res"> 
                    <button type="button" id="myResume" class="resume" onclick="javascrtpt:window.location.href='/RecruitApp/per/resume/'"></NOtton>
                    
                
                </div>
                    <!-- 刷新简历 -->
                <div class="pic" id="fresh">
                    <button type="button" id="reFresh" class="resume"></NOtton>
                    
                    
                </div >  
                    <!-- 升级简历 -->
                <div class="pic" id="upgrade">
                    <button type="button" id="upGrade" class="resume"></NOtton>
                
                    
                </div>
                    <!-- 简历模板库 -->
                <div class="pic" id="mod">
                    <button type="button" id="model" class="resume" onclick="javascrtpt:window.location.href='/RecruitApp/per/resumemodels/'"></NOtton>
                </div>
            </div>
        </div>
    </div>
        
    <div class="b4">
        <div class="b4c1"><span class="ziti4">我的简历</span></div>
        <div class="b4c2"><span class="ziti4">刷新简历 </span> </div>
        <div class="b4c3"><span class="ziti4">升级简历</span></div>
        <div class="b4c4"><span class="ziti4">简历模板</span></div>
            
    </div>
        
    
    
    
    <div class="a2">
        <div class="a2b1">
            <font size="+2" color="#203BDD">职场热点</font>
        </div>
        <div class="a2b2">
            <a class="aa" href="/RecruitApp/per/question/41528"><span class="ziti3">现在年轻人成功的标准是什么?</span></a>
        </div>
        <div class="a2b3">
            <a class="aa" href="/RecruitApp/per/question/41529"><span class="ziti3">选择做销售这个行业你后悔过吗?</span></a>
        </div>
        <div class="a2b4">
            <a class="aa" href="/RecruitApp/per/question/41530"><span class="ziti3">作为领导，你喜欢怎样的90后?</span></font></a>
        </div>
    </div>
    <!--end-->

    <!-- 骅 07/06 热门岗位-->
        <!--热门职位表单-->
        <form id="hotJob" action="/apply/applyCheckedJobs/" method="POST">
            {% csrf_token %}
            <!--全选按钮-->
            <input type="checkbox" id="ckAll" checked="true">全选
            <!--一键投递按钮-->
            <input type="submit" value="一键投递" id="appAll">
            <label id="msg"></label>
            <ul>
                {% for job in jobList %}
                    <input type="checkbox" name="hotJobs" id="{{ job.id }}" checked="true">
                    <div class="div_li_0">
                        <li style=" float: left;list-style:none" >
                            <label>
                                <i class="joblist-container__item__flag">
                                    <img src="" class="joblist-container__item__image">
                                </i> 
                                <input type="checkbox" class="joblist-container__item__hidden">
                            </label>

                            <label>
                                <i class="joblist-container__item__flag"></i> 
                                <input type="checkbox" class="joblist-container__item__hidden">
                            </label>
                            
                            <div class="div_li_1">
                                <a class="joblist-container__item" href="/apply/recruit/{{ currentCity }}/{{ job.id }}">
                                    <p class="clearfix">
                                        <span class="fl zp-job-title"  > <b>{{ job.jobName }}</b></span>
                                        <span class="fr zp-job-salary"  > <b>{{ job.jobSalary }}</b></span>
                                    </p>

                                    <p class="zp-job-condition">
                                            <span title class="zp-job-condition-label zp-job-city" >{{ job.jobLoc }}</span>
                                        &nbsp;&nbsp;
                                        <span class="zp-job-condition-label" >{{ job.jobProfession }}</span>
                                            &nbsp;&nbsp;
                                        <span class="zp-job-condition-label" >{{ job.jobEdu }}</span>
                                    </p>

                                    <p class="clearfix zp-job-compnay-info">
                                        <span class="clearfix">
                                            <a href="">
                                                <span class="fl"  > <b>{{job.jobComp}}</b></span>
                                            </a>
                                            |
                                            <span>{{job.jobNum}}</span>
                                        </span>
                                        
                                    </p>
                                </a>
                            </div>
                    </li>
                    </div>
                    
                {% endfor %}
                </ul>
            </form>
        </div>
    <!-- end-->
</div>