<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    {% load static %}

    <script type="text/javascript" src="{% static 'scripts/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'index/scripts/temp.js' %}"></script>
    <!-- 公司logo的鼠标聚焦切换图片 -->
    <script>
        
        
    </script>
    <script>
        
    </script>


    <link rel="stylesheet" href="{% static 'index/css/temp.css'%}">
    <link rel="stylesheet" href="{% static 'index/css/index.css'%}">
    <link rel="stylesheet" href="{% static 'index/css/HotJobRecommend.css' %}">
</head>




<body>
    <!-- 页眉 -->
    {% include 'top.html' %}


    <!-- 引用分类导航， 与个人信息, 热门职位 -->
    {% include 'classified_nav.html' %}


    <!-- 07/06 10:44 add by 黄涣升, 王扬舟 -->
    <div style="background-color: grey">
        <div class="company_logo">
            <ul>
                <div onmouseover="showimg(1)">IT</a></div>
                <div onmouseover="showimg(2)">制造业</div>
                <div onmouseover="showimg(3)">金融</div>
                <div onmouseover="showimg(4)">房地产</div>
                <div onmouseover="showimg(5)">消费</div>
                <div onmouseover="showimg(6)">服务业</div>
                
            </ul>
        </div>
        <!--展示公司logo图片-->
        <div>
            <img id="picture" src="{% static 'index/images/xiaofei_pic.png' %}" alt="img">
        </div>
    </div>
    <!--end-->

    <!-- 页脚 -->
    {% include 'bottom.html' %}
</body>
</html>